@using Webdiyer.WebControls.Mvc;
@using Model
@model  IPagedList<Model.ViewLeaveManagement>
@{
    ViewBag.Title = "LeaveManagement";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div id="tableDiv"> 
    @{Html.RenderPartial("LeaveManagements/_PartialLeavePage", Model);}
</div>
<div id="tt">
<hr />
    @{Html.RenderPartial("LeaveManagements/_PartialLeavePageOver", ViewData["overList"]);}
</div>
@section Scripts
    {
    @{Html.RegisterMvcPagerScriptResource();}
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    }
